@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600&family=Roboto:wght@100&display=swap");

:root {
	/* Variables */
	/* Example: `color: rgb(var(--color-brand);`  */

	--color-brand: 71, 7, 24; /* Wine red brand color */
	--color-background: 235, 235, 235; /* Primary element background color */
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: url("https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
	background-color: black;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.5rem;
}

h3 {
	font-size: 2rem;
}

h4 {
	font-size: 1.75rem;
}

h5 {
	font-size: 1.5rem;
}

h6 {
	font-size: 1.25rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Quicksand", sans-serif;
}

p {
	size: 1rem;
}


