.confirmationPage {
	text-align: center;
	color: white;
}

.container {
	padding: 5px 5px 5px;
	width: 50%;
	margin: auto;
	border-radius: 10px;
}

.qrImg {
	width: 150px;
	height: 150px;
	margin: 2rem;
	border-radius: 10px;
}

.ticket {
	display: flex;
	padding: 1px 1px 1px;
	background-color: rgb(85, 85, 85);
	margin-bottom: 3rem;
	border-radius: 10px;
}

.infoContainer {
	width: 70%;
	border-right: dotted 4px rgb(235, 235, 235);
	text-align: center;
}

.total {
	margin-bottom: 1rem;
	text-decoration: underline;
}

.ticketHeader {
	margin-top: 0;
	border-top-left-radius: 10px;
	background-color: rgb(85, 11, 27);
	padding: 5px;
	text-align: center;
	color: rgb(224, 224, 224);
}

.ticketFooter {
	margin-bottom: 0;
	border-bottom-left-radius: 10px;
	background-color: rgb(85, 11, 27);
	padding: 5px;
	text-align: center;
	color: rgb(224, 224, 224);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.ticketInfo {
	margin-top: 3rem;
}

.marginFooter {
	margin-bottom: 2rem;
}

@media only screen and (max-width: 600px) {
	.container {
		width: 90%;
	}
	.qrImg {
		width: 80px;
		height: 80px;
		margin: auto 0.5rem;
	}
	.ticketFooter {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	.ticket {
		margin-bottom: 3rem;
		width: 100%;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.container {
		width: 80%;
	}
}

@media (min-width: 600px) and (max-width: 766px) {
	.container {
		width: 90%;
	}
}
