.modal {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
}

.card {
	background-color: rgb(235, 235, 235);
	border-radius: 10px;
	margin: 2rem auto;
	padding: 1.5rem;
	transition: 0.3s;
	height: 300px;
	width: 500px;
	text-align: center;
}
