.moviePage {
	margin-top: 2rem;
}

.container {
	padding: 5px 5px 5px;
	background-color: rgb(235, 235, 235);
	width: 60%;
	height: 400px;
	margin: auto;
}

.trailer {
	padding-top: 2rem;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 2rem;
}

.img {
	float: left;
	margin: 1rem;
	width: 250px;
	height: 370px;
}

hr {
	margin-right: 1rem;
}
