.header {
	color: white;
	text-align: center;
}

.ticketPage {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.container {
	text-align: center;
	padding: 5px 5px 5px;
	background-color: rgb(235, 235, 235);
	width: 70%;
	border-radius: 10px;
	margin: auto;
	padding: 2rem;
}

.bioduk {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: auto;
	margin-bottom: 2rem;
	color: white;
	background-color: rgb(85, 11, 27);
	width: 100%;
	height: 50px;
	letter-spacing: 3px;
}

.title {
	color: rgb(85, 11, 27);
}

.platserTitle {
	margin-right: 1rem;
	margin-left: 1rem;
	display: flex;
	align-items: center;
}

.numberInput {
	width: 70px !important;
	height: 30px !important;
}

h5 {
	margin: 2rem;
	font-size: 1.2rem;
}

h6 {
	margin: 0.25rem;
}

.ticketTitle {
	margin-left: 2rem;
	margin-right: 0.5rem;
}

.ticket {
	margin: 1rem;
	padding: 5px;
	border-radius: 10px;
	border: 1px solid black;
	width: 500px;
}

.img {
	width: 200px;
	height: 320px;
	margin: 2rem;
	border-radius: 10px;
}

.pay {
	margin: 1rem;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.button {
	font-size: 1rem;
	background-color: rgb(85, 11, 27);
	color: white;
	border: none;
	width: 200px;
	height: 50px;
	border-radius: 10px;
}

.button:hover {
	cursor: pointer;
	background-color: rgb(51, 5, 15);
}

.seatContainer {
	width: 90%;
	background-color: rgb(37, 37, 37);
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	margin-bottom: 2rem;
}

.seatBox {
	padding: 1rem;
	width: 40px;
	user-select: none;
	height: 40px;
	border: 1px solid black;
	background-color: rgb(192, 192, 192);
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem;
	position: relative;
	cursor: pointer;
}

.seatBoxHovered::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

.seatBoxActive {
	background-color: rgb(233, 170, 36);
}

.seatBoxInactive {
	background-color: rgb(192, 192, 192);
}

.seatBoxBooked {
	background-color: rgb(85, 11, 27);
	color: rgb(235, 235, 235);
}

.seatBoxUnbookable {
	background-color: rgb(85, 11, 27);
	color: rgb(235, 235, 235);
}

.seatRow {
	display: flex;
	justify-content: center;
	width: 70px;
	height: 40px;
	margin-bottom: 3rem;
}

.counter {
	font-size: 1.5rem;
	margin: auto 2rem;
	margin-bottom: 2rem;
	color: white;
}

span {
	padding: 1rem;
}
.tPlatser {
	width: 30px;
	height: 30px;
	border: 1px solid black;
	background-color: rgb(192, 192, 192);
}

.oPlatser {
	width: 30px;
	height: 30px;
	border: 1px solid black;
	background-color: rgb(85, 11, 27);
}

.dStolval {
	width: 30px;
	height: 30px;
	border: 1px solid black;
	background-color: rgb(233, 170, 36);
}
.platserContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

@media only screen and (min-width: 600px) {
	.titleContainer {
		display: flex;
		justify-content: center;
	}

	.numberContainer {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.payContainer {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: auto;
		width: 80%;
	}
}

@media only screen and (max-width: 600px) {
	.container {
		width: 90%;
	}
	.seatBox {
		width: 20px;
		height: 20px;
		padding: 10px;
		margin: 0.5rem;
	}
	.bioduk {
		margin-bottom: 0rem;
	}
	h5 {
		margin: 1rem;
	}
	.seatRow {
		width: 20px;
		height: 5px;
	}
	.seatContainer {
		width: 100%;
		background-color: none;
		margin-bottom: 1rem;
	}
	.img {
		width: 150px;
		height: 220px;
		margin: 0;
	}
	.button {
		width: 160px;
	}
	.counter {
		font-size: 0.5rem;
	}
	.counter span {
		font-size: 1rem;
		margin-bottom: 0.2rem;
	}
	.platserContainer {
		display: none;
	}
	.ticket {
		width: 100%;
		margin: auto;
		margin-bottom: 1rem;
	}
}

@media (min-width: 600px) and (max-width: 785px) {
	.container {
		width: 90%;
	}
	.seatBox {
		width: 20px;
		height: 20px;
		padding: 10px;
		margin: 0.5rem;
	}
	.bioduk {
		margin-bottom: 0rem;
	}
	h5 {
		margin: 1rem;
	}
	.seatRow {
		width: 20px;
		height: 5px;
	}
	.seatContainer {
		width: 100%;
		background-color: none;
		margin-bottom: 1rem;
	}
	.img {
		width: 150px;
		height: 220px;
		margin: 0;
	}
	.button {
		width: 160px;
	}
	.counter {
		font-size: 0.5rem;
	}
	.counter span {
		font-size: 1rem;
		margin-bottom: 0.2rem;
	}
	.platserContainer {
		display: none;
	}
	.ticket {
		width: 100%;
		margin: auto;
		margin-bottom: 1rem;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.container {
		width: 80%;
	}
	.seatBox {
		width: 5px;
		height: 5px;
	}
	.seatRow {
		width: 40px;
		height: 20px;
	}

	.img {
		width: 150px;
		height: 280px;
	}
	.counter {
		font-size: 1rem;
	}
	.counter span {
		padding: 0.5rem;
	}
	.platserTitle {
		margin-right: 0.3rem;
		margin-left: 0.3rem;
	}
}
